#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 9999;
    transition: 1s all;
    opacity: 0;
}
.loading.show {
    opacity: 1;
}
.loading .spin {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #94bbe9;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}    

.country-info{
    display: flex;
    flex-direction: row;
    background-color: none;
}


.img-detail{
    width: 400px;
    height: 200px;
    margin-top: 3rem; 
    padding: 10px;  
}

.description-detail{
    width: 350px;
    height: 250px;
    margin-top: 3rem;
    border-radius: 20px;
    padding: 10px;
}

.description-detail :h1{
    margin:auto;
    margin-top: 10px;       
}

.detail-activities{
    background-color: #cde0f5;   
    background-size: cover;  
    border-radius: 20px;
    height: 210px;
    padding-top: 2%;
}

.titulo{
    text-align: center;
    margin-top: 10px;      
}

.title{
    text-align: center;
    margin-top: 10px;       
}
