.container{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    background-color: #04a0fa;
}

.navlink-home{
    margin: auto;
    padding: 10px;
    width: 70px;  
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    padding-left: 25px;

}

.search{
    width: 25%;
    line-height: 40px;
    padding-left: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;   
}

.button{
    margin-right: 300px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}
.button:hover{
    background-color: #006cfa;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}

.activity{
    margin-right: 20px;
    width: 120px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
}
.activity:hover{
    background-color: #006cfa;
    color: #fff;
    transform: scale(1.1);
    transition: 0.5s;
}
